.frame {
	border: solid 2px #6FA1CC;
	border-radius: 5px;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

.giai {
	background-color: #337AB7;
	height: 30px;
	padding: 10px;
}

.giai p {
	color: white;
	margin: 0px;
}

.buttons button {
	background-color: #5CB85C;
	border: none;
	height: 30px;
	width: 130px;
	margin: 10px;
	border-radius: 2px;
	color: white;
}

.button-a {
}
