.section-1 {
	height: 450px;
	border: solid 2px #4F8CC0;
	border-radius: 5px;
}

.input-title {
	background-color: #337AB7;
	padding: 10px;
	color: white;
}

.field {
	padding: 10px;
	font-weight: bold;
	margin-right: 10px;
}

.field input {
	width: 100%;
	background-color: #FAFFBD;
	border: solid 2px #E8E8E8;
	height: 25px;
}